<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio | v2</title>
</head>
<body class="mx-auto bg-muted text-secondary">
<div class="container mx-auto text-center">
<h1 class="display-1 mt-5">Coming Soon</h1>
<p class="lead">
    A One-day Conference About all Things JavaScript!   
</p>
        <button class="btn btn-secondary btn-lg" type="button">Register</button>
        <button class="btn btn-muted btn-lg" type="button">Speakers</button>
        <div class="container">
                <div class="row">
                  <div class="col-sm">
                      <br>
                      <br>
                      <br>
                      <br>
                      <h2></h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum, maiores quos qui amet culpa quidem vitae voluptatum atque dicta veritatis ipsam provident consectetur, exercitationem omnis cum fugit repellat beatae.
                  </div>
                  <div class="col-sm">
                        <br>
                        <br>
                        <br>
                        <br>
                      <h2>About Full Stack Conf</h2>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, necessitatibus accusantium repellendus officiis expedita ea id odio culpa obcaecati ratione laborum accusamus illo, amet ipsa aspernatur ut reiciendis, dignissimos alias.
                  </div>
                  <div class="col-sm">
                        <br>
                        <br>
                        <br>
                        <br>
                      <h2>What You'll Learn</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum laborum dolores aut blanditiis, maiores amet nam dicta nemo. Fugiat quisquam cum dolorem hic nemo a similique possimus minus aliquam laboriosam!
                  </div>
                </div>
              </div>
</div>
</body>
</html>